@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
/* colors */
    --cyan: #66E2DC;
    --orange-red: #FA7453;
    --gold: #FFB964;
    --almost-white: #FCFAF9;
    --dark-blue: #191826;

    --body1: 20px;
    --body1-line-height: 34px;
    --body2: 16px;
    --body2-line-height: 26px;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url(assets/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: top -178px right -209px;
}

/* start section */
h1 {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1px;
    max-width: 300px;
}

#start-section {
    margin: 65px 24px;
}

#start-section p {
    font-size: var(--body2);
    margin-top: 20px;
    max-width: 327px;
    min-height: 144px;
}

.logo {
    margin-top: 40px;
    margin-left: 24px;
}

/* main section */
.container {
    margin: 0 auto;
    position: relative;
    height: 600px;
    margin-top: 166px;
    background-color: var(--dark-blue);
    background-image: url(assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 280px;
    border-radius: 12px;
}

.app-illustration{
    position: absolute;
    width: 208.97px;
    z-index: 1;
    top: 524px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.download-card {
    position: absolute;
    top: 380px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 500px;
    max-height: 591px;
    padding: 48px 36px;
    background-color: var(--orange-red);
    color: var(--almost-white);
    border-radius: 12px;
}

.download-card h2 {
    font-size: 32px;
    margin-bottom: 12px;
}

.price {
    display: flex;
    align-items: center;
    margin: 36px 0 32px;
    font-size: 65px;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
}

.price span {
    margin-left: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-group a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    border-radius: 12px;
}

.btn-group a img {
    width: 17px;
    margin-right: 8px;
}

.ios-download {
    color: var(--almost-white);
    background-color: var(--dark-blue);
    padding: 15px 77px;
    transition: 0.5s ease;
}

.android-download {
    margin-top: 16px;
    color: var(--dark-blue);
    background-color: var(--almost-white);
    padding: 15px 59px;
    transition: 0.5s ease;
}

.ios-download:hover {
    background-color: var(--cyan);
}

.android-download:hover {
    background-color: var(--gold);
}

/* footer */
footer {
    margin: 390px 24px 80px;
}

footer p {
    margin: 32px 0 64px;
    max-width: 296px;
}

.footer-logo {
    width: 146px;
    height: 32px;
}

.social-icons {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.social-icons a:hover path {
    fill: var(--orange-red);
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(assets/bg-pattern-1.svg), url(assets/bg-main-tablet.png);
        background-position: top -32px right -36px, top -294px right -121px;
    }

    h1 {
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.727273px;
        max-width: 520px;
    }
    
    #start-section {
        margin: 95px 39px 111px;
    }
    
    #start-section p {
        font-size: var(--body1);
        margin-top: 28px;
        max-width: 569px;
        min-height: 112px;
    }
    
    .logo {
        margin-top: 62px;
        margin-left: 39px;
    }

    /* main section */
    .container {
        margin: 0 33px;
        margin-top: 250px;
        background-position: center -39px;
        background-size: 280px;
    }

    .app-illustration{
        width: 270px;
        left: 97px;
        top: 632px;
        margin-left: 0;
        margin-right: 0;
    }

    .download-card {
        z-index: 2;
        right: 70px;
        left: unset;
        top: 143px;
        max-width: 399px;
        max-height: 546px;
        padding: 48px;
    }

    .card-p {
        font-size: 18px;
        line-height: 28px;
    }

    /* footer */
    footer {
        margin: 183px 39px 85px;
    }

    footer p {
        margin: 32px 0 0;
        max-width: 366px;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media screen and (min-width: 1440px) {
    body {
        background-image: url(assets/bg-pattern-1.svg), url(assets/bg-main-desktop.png);
        background-position: top -32px right -36px, top -294px right -121px;
    }

    h1 {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -1px;
        max-width: 1015px;
    }

    #start-section {
        margin: 127px 165px 108px;
    }

    #start-section p {
        font-size: 20px;
        margin-top: 40px;
        max-width: 825px;
        min-height: 102px;
    }

    .logo {
        margin-top: 62px;
        margin-left: 165px;
    }

    /* main section */
    .container {
        background-size: 312px;
    }  
    
    .app-illustration {
        width: 312px;
        left: 267px;
        top: 647px;
        margin-left: 0;
        margin-right: 0;
    }

    .download-card {
        right: 95px;
        left: unset;
        top: 86px;
        max-width: 446px;
        max-height: 625px;
        padding: 59px;
    }

    .download-card h2 {
        font-size: 40px;
        margin-bottom: 22px;
    }
    
    .container {
        margin: 0 165px;
        margin-top: 321px;
    }

    .price {
        margin: 46px 0 39px;
    }

    .btn-group a {
        width: 333px;
    }

    /* footer */
    footer {
        margin: 202px 165px 91px;
        display: flex;
        justify-content: space-between;
    }

    footer p {
        margin: 0 359px 0 0;
        max-width: 366px;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}